*{
    padding: 0px;
    margin: opx;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Artifika', serif;
}


body {
    font-size: 16px; 
    background-color: #c0aa8c88;
    font-family: 'Arsenal', sans-serif;
}

    
    .navbar{
         width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 20px;
        background-color:transparent;
         z-index: 1; 
        }
    
    .nav-links li{
       padding-left: 30px;
    }

     ul{
        display: flex;
        list-style: none;
    }

    .nav-links li a, .back-btn a{
        display: inline-block;
        text-decoration: none;
        font-family: 'Anybody', sans-serif;
        color: #fff;
        position: relative;
        text-align: center;
    }

    .nav-links li a:hover{
        text-decoration: underline;
        color: #2CBDC9;;
      }

    .menu-open, .menu-close{
        position: absolute;
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
        z-index: 101;
    }

    .menu-open{
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .menu-close{
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    #menu-checkbox{
        display: none;
    }
    
     .logo{
       width: 100px;
       padding-bottom: 30px;
    
    } 

    .navbar-line {
        border: none;
        border-bottom: 1px solid #fff; 
        position: absolute; 
        z-index: 2; 
        width: 100%;
        text-align: center;
        margin-top: 90px;
    }

    .contact-form {
       
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
        padding: 20px;
        max-width: 100%; 
        margin: 20px; 
        box-sizing: border-box; 
       
    }

    .contact-us-form input, textarea {
        width: 100%;
        border-radius: 10px;
        display: flex;
        background-color: #c4c2c2;
        justify-content: flex-start;
        align-items: flex-start;
        padding:10px 70px 20px 10px ;
        border-radius: 10px;
        margin: 5px 10px;
    } 
    .submit-btn {
         padding: 10px;
        background-color: #A0C8DE;
        border: 1.5px solid black;
        border-radius: 5px;
        box-shadow: inset;
        margin-left: 23px;
    }

    h2, h3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .contact-no{
        margin: 10px 80px;
    }

    .call-us{
        margin: 15px 0px;
    }

    .info-2{
        margin-bottom: 5px;
    }

    .hero-section{
        position: relative;
        width: 100%;
        height: 40vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
    }
    
    .hero-section::before {
        content: ''; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: conic-gradient(from 180deg at 50% 50%, rgba(21, 11, 47, 0.61) 0deg, rgba(44, 23, 98, 0.61) 180deg, rgba(67, 35, 149, 0.61) 360deg);
        z-index: 0;
       
    }
    



    .explore-page .hero-section{
        background-image: url("../images/explore-header.jpg");
    }

    .contact-us-page .hero-section{
     background-image: url("../images/contact-header.jpg");
    }

    .events-page .hero-section {
        background-image: url("../images/exhibit-event-header.jpg");
    }

    .exhibits-page .hero-section{
        background-image: url("../images/exhibit-2-header.jpg");
    }

    .join-page .hero-section{
        background-image: url("..//images/join+give-header.jpeg");
    }

    .visit-page .hero-section{
        background-image: url("../images/visit-header.jpg");
    }

    .kids-page .hero-section{
        background-image: url("../images/kid-header.jpg");
    }

    .teachers-page .hero-section{
        background-image: url("../images/teacher-header.jpg");
    }
     
    .index-page .hero-section{
        background-image: url("../images/index-header.jpg");
    }

    .researchers-page .hero-section{
        background-image: url("../images/researcher-header.jpg");
    }

    
    .header-content{
       display: flex;
       flex-direction: column;
       gap: 10px;
        color: white;
        justify-content: flex-start;
        margin: 40px;
        z-index: 2; 
    }
    
    .index-heading{
       padding-top: 20PX;
       font-size: 3vmin;
       text-align: left;
    } 
    h1{
        font-size: 4vmin;
        text-align: center;
    }
    
    .hero-cta{
       
        display: flex;
       padding: 10px;
      z-index: 1;
       border-radius: 5px;
       position: absolute; 
       bottom: 20px; 
       right: 40px; 
       font-family: 'Anybody', sans-serif;
        justify-content: center;
        align-items: center;
        background-color: #2CBDC9;
        color: black;
        
    }

    /* home page styling */
    .home-visit-link{
        color: #FF543E;
        padding: 15px;
    }

    .heading{
        font-size: 18px;
        margin: 0;
        padding: 0;
    }


    .intro-section{
        flex-direction: column;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .intro-text{
          font-size: 13px;
          margin: 10px;
    }

     

    .text {
    margin-top: 10px;
    text-align: center;
    }

    .text p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    }
    .departments-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 50px;
        gap: 20px;
    }

    .visit-department, .whats-here-department,  .become-member-department{
            width: 30%;
            height: 200px;
    }


    .whats-here-img, .visit-img, .become-member-img{
            width: 100%;
            height: 100%;
            object-fit: center;
    }

    .text{
       display: flex;
       align-items: flex-end;
       position: relative;
       bottom: 45px;
       margin: 0 12px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        
    }

.mission-container, 
.science-accessible-container, 
.kids-container, 
.teachers-container, 
.researchers-container, .exhibits-container,
.events-container, .donate-container,
.volunteer-container, .member-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto; 
    margin: 70px auto;
    flex-wrap: wrap; 
}


.mission-content, 
.science-accessible-content, 
.kids-content, 
.teachers-content, 
.researchers-content, .exhibits-content,
.events-content, .donate-content,
.volunteer-content {
    flex: 1;
    width: 600px; 
    margin: 0px 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.mission-content p, 
.science-accessible-content p, 
.kids-content p, 
.teachers-content p, 
.researchers-content p, .exhibits-content p,
.events-content p, .donate-content p, .member-content p,
.volunteer-content p {
    line-height: 1.5;
    margin-bottom: 40px;

}
h6{
    font-weight: 100;
   margin-top: 0px;    
   
}

p{
    margin: 0;
}

h4{
    font-size: 20px;
}

.kid-page-container, .teacher-page-container, .researcher-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.kid-page-content, .teacher-page-content, .researcher-page-content {
    flex: 1 1 50%;
    padding: 20px;
    font-size: 18px;
    line-height: 1.3;
}

.kid-page-content p , .teacher-page-content p , .researcher-page-content p{
    margin: 0;
    font-size: 20px;
}

.kid-page-img, .teacher-page-img, .researcher-page-img{
    flex: 1 1 40%;
    display: flex;
    margin: 30px 0px;
    justify-content: center;
    align-items: center;
}

.kid-page-img img, .teacher-page-img img, .researcher-page-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.mission-img, 
.science-img, 
.kids-img, 
.teachers-img, 
.researchers-img,
.donate-img,  .volunteer-img {
    flex: 1;
    width: 600px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-img img, 
.science-img img, 
.kids-img img, 
.teachers-img img, 
.researchers-img img, .donate-img img,.volunteer-img img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.cta-btn{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    justify-content: center;
    text-decoration: none;
        font-family: 'Anybody', sans-serif;
        padding:15px 20px ;
        background: #FB8F8F;
        color: #000;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        border-radius: 10px;  
        width: 200px;      
}

.cta-btn:hover{
    background: rgba(251, 143, 143, 0.72);
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

.member-content {
    flex: 1; 
    max-width: 600px; 
    margin: 0 25px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.member-img {
    flex: 1; 
    max-width: 600px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    box-sizing: border-box; 
}

.member-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /
}



.science-accessible-content, .teachers-content, .donate-content{
    order: 2;
}

.exhibits-content{
    order: 2;
    margin-left: 90px;
    padding: 10px;
}

/* exhibit page styling */
.exhibits, .events{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0px;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}
.card {
    width: 350px;
    height: 360px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cards:hover{
    transform: translateY(-10px);
}

.card:hover::before{
    opacity: 1;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: center; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover img {
    opacity: 0.5;
}

.info {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1rem;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.card:hover .info {
    opacity: 1;
    transform: translateY(0);
}

.info h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.info p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.info .btn {
    background: #fc5185;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.875rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease, transform 0.3s ease;
}

.info .btn:hover {
    background: #fff;
    color: #fc5185;
    transform: scale(1.05);
}

.wrappers {
    display: flex;
    margin: 40px 0px;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.event-visitor{
    object-fit: cover;
}
   
/* visit page styling */

.visit-text{
    margin: 30px;
    line-height: 1.5;
}

.visit-container{
   display: flex;
   flex-wrap: wrap; 
   gap: 40px;
   justify-content: center; 
   align-items: center;
   height: auto;
   margin: 50px 0px;
   padding: 10px;
}

.visit-box{
    background-color: #fff;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    height: 300px;
    width: 330px;
}

.visit-box i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.96rem;
    margin-top: 15px;
}

.detail{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.opening-hours{
    flex-direction: column;
    gap: 4px;
}

.phone, .mail{
    margin-top: 10px;
}



/* footer styling starts from here */

     footer {
        background-color: #432395; 
        color: #fff;
        padding: 20px 30px 10px 40px;
        width: 100%;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
        width: 100%;
        margin: 0 auto; 
    }

    .line{
        grid-column: 1/4;
        background: #fff;
        height: 1px;
       
    }
    
    .newsletter {
        grid-column: span 2; 
        
    }
    
    .socialmedia-icons {
        display: flex;
        gap: 10px; 
        font-size: 1.5rem; 
       margin-left: 30px;
    }
    
    .support-us a,
    .explore a {
        display: block;
        margin: 15px 0; 
        color: #fff; 
        text-decoration: none;
    }
    
    .support-us p{
        color: #2CBDC9;
    }
    
    
    .location,
    .hours,
    .copyright,
    .policies {
        font-size: 0.9rem;
    }
    
    .hours{
        grid-column: 3;
        grid-row: 4;
        position: relative;
        bottom: 120px;
    }

    
    .copyright {
        grid-column: 1;
        display: flex;
        align-items: center;
        color: #aaa;
        gap: 5px; 
    }
    
    .policies  {
        position: relative;
        display: flex;
        grid-row: 4;
        grid-column: 3;
        top: 10px;
        color: #aaa;
    }

    h5{
       font-size: medium;
    }

    h5, h6{
        margin: 0;
    }

    
    

    .newsletter input {
        padding: 10px;
        font-size: 1rem;
        width: 80%;
        margin-right: 10px;
        border: 1px solid #444;
        border-radius: 5px;
        color: #fff;
        background-color: #222;
    }
    
    .newsletter input::placeholder {
        color: #aaa;
    }
    
    .newsletter button {
        padding: 10px 20px;
        background-color: #2CBDC9;
        color: #111;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .newsletter button:hover {
        background-color: #26a1a7;
    }
    
    .socialmedia-icons i {
    margin: 10px;
    transition: color 0.3s ease; 
    }
    
    .fa-twitter {
        color: #1DA1F2;
    }

    .fa-instagram {
        background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .fa-youtube {
        color: #FF0000;
    }

    @media (max-width: 768px) {
        body{
            font-size: 14px;
        }
        .navbar{
            padding: 10px;
            z-index: 3;
        }

      .nav-links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        position: fixed;
        border-radius: 10px;
        top: 0;
        right: -100%;
        z-index:100;
        background-color: rgba(0, 0, 0, 0.425);
        transition: all 0.2s ease-in-out;
        padding: 10px;
      }

      .navbar-line {
        display: none;
    }

    .logo{
        width: 90px;
        padding: 10px;
     
     } 

      .nav-links li{
        margin-top: 30px;

      }

      .nav-links li a{
        padding: 5px
      }

    .menu-open {
        display: block;
    }

    #menu-checkbox:checked ~ .nav-links{
        right: 0;
    }
    
    #menu-checkbox:checked ~  .menu-close {
        display: block; 
    }
    
    #menu-checkbox:checked ~ .menu-open {
        display: none; 
    }

    .back-btn{
        display: none;
    }

    .header-content{
        display: none;
    }

    .hero-cta{
        display: none;
    }

    .hero-section{
        height: 27vh;
    }
    
        h1 {
            font-size: 6vmin; 
        }

        .contact-form {
            grid-template-columns: 1fr; 
        }
        
        .contact-us-form input,
        textarea {
            padding: 10px;
            font-size: 1rem;
        }

        .contact-no{
            margin: 0px;
        }

        .footer-container {
            grid-template-columns: 1fr; 
        }
    
        .newsletter {
            grid-column: span 1;
        }
        
        .socialmedia-icons {
            justify-content: center;
        }
    
        .socialmedia-icons i {
            font-size: 1.2rem;
        }
    
        .copyright,
        .policies {
            font-size: 0.8rem;
       
        }
        .departments-container {
            flex-direction: column; 
            margin: 0 20px; 
        }
    
        .visit-department, .whats-here-department, .become-member-department {
            width: 70%; 
            height: 180px; 
        }
    
        .whats-here-img, .visit-img, .become-member-img {
            object-fit: center; 
        }
    
        .text {
            font-size: 16px; 
            bottom: 25px;
        }
    
       
        .mission-container, 
        .science-accessible-container, 
        .kids-container, 
        .teachers-container, 
        .researchers-container, 
        .exhibits-container, 
        .events-container, 
        .donate-container, 
        .volunteer-container, 
        .member-container {
            flex-direction: column; 
            width: 100%; 
            margin: 30px auto; 
        }
    
       
        .mission-content, 
        .science-accessible-content, 
        .kids-content, 
        .teachers-content, 
        .researchers-content, 
        .exhibits-content, 
        .events-content, 
        .donate-content, 
        .member-content, 
        .volunteer-content {
            width: 90%; 
            margin:0; 
            text-align: left; 
        }

        h6,h5{
            margin: 0;
        }
    
       
        .mission-img, 
        .science-img, 
        .kids-img, 
        .teachers-img, 
        .researchers-img, 
        .donate-img, 
        .volunteer-img, 
        .member-img {
            width: 90%; 
            height: 100px;
            margin-bottom: 15px; 
        }
    
        .mission-img img, 
        .science-img img, 
        .kids-img img, 
        .teachers-img img, 
        .researchers-img img, 
        .donate-img img, 
        .volunteer-img img, 
        .member-img img {
            object-fit: cover; 
        }
    
       
        .cta-btn {
            width: 90%; 
            font-size: 1rem; 
            padding: 12px; 
            margin: 10px auto; 
        }

        .science-img, .volunteer-content, .member-content, .kids-content
        , .researchers-content, .events-content{
            order: 2;
        }

        .kid-page-container, .teacher-page-container, .researcher-page-container{
            flex-direction: column;
            align-items: center;
        }
    
        .kid-page-content, .teacher-page-content, .researcher-page-content{
            text-align: start;
            font-size: 16px;
        }
    
        .kid-page-img, .teacher-page-img, .researcher-page-img{
            width: 100%;
            margin-top: 20px;
        }
    
        .kid-page-img img, .teacher-page-img img, .researcher-page-img img {
            max-width: 90%;
            margin: 0 auto;
        }
    }


    @media (max-width: 480px) {

        body{
            font-size: 14px;
        }
        .navbar{
            padding: 10px;
            z-index: 3;
        }

      .nav-links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        position: fixed;
        border-radius: 10px;
        top: 0;
        right: -100%;
        z-index:100;
        background-color: rgba(0, 0, 0, 0.425);
        transition: all 0.2s ease-in-out;
        padding: 10px;
      }

      .navbar-line {
        display: none;
    }

    .logo{
        width: 90px;
        padding: 10px;
     
     } 

      .nav-links li{
        margin-top: 30px;

      }

      .nav-links li a{
        padding: 5px
      }

    .menu-open {
        display: block;
    }

    #menu-checkbox:checked ~ .nav-links{
        right: 0;
    }
    
    #menu-checkbox:checked ~  .menu-close {
        display: block; 
    }
    
    #menu-checkbox:checked ~ .menu-open {
        display: none; 
    }

    .header-content{
        display: none;
    }

    .hero-cta{
        display: none;
    }
    
        .departments-container {
            margin: 0 10px; 
            gap: 10px;
        }
    
        .visit-department, .whats-here-department, .become-member-department {
            height: 150px;
        }
    
        .text {
            font-size: 14px;
            bottom: 30px; 
        }
    
        .mission-container, 
        .science-accessible-container, 
        .kids-container, 
        .teachers-container, 
        .researchers-container, 
        .exhibits-container, 
        .events-container, 
        .donate-container, 
        .volunteer-container, 
        .member-container {
            width: 100%;
            margin: 50px 0; 
        }
    
        .mission-img, 
        .science-img, 
        .kids-img, 
        .teachers-img, 
        .researchers-img, 
        .donate-img, 
        .volunteer-img, 
        .member-img {
            height: 150px; 
        }
    
        .cta-btn {
            font-size: 0.9rem; 
            padding: 10px; 
        }

        

        .footer {
            padding: 15px 10px; 
        }
    
        .footer-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px; 
        }
    
        .line {
            width: 100%;
        }
    
        .newsletter {
            text-align: center;
        }
    
        .newsletter input {
            width: 90%; 
            margin: 10px 0;
        }
    
        .newsletter button {
            width: 90%; 
        }
    
        .socialmedia-icons {
            margin-left: 0; 
            justify-content: center; 
            gap: 15px;
        }
    
        .support-us a,
        .explore a {
            margin: 10px 0;
            font-size: 0.9rem; 
        }
    
        .support-us p {
            font-size: 1rem;
        }
    
        .location,
        .hours,
        .copyright,
        .policies {
            font-size: 0.8rem; 
            text-align: left;
        }
    
        .footer {
            padding: 15px 10px; 
        }
    
        .footer-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px; 
        }
    
        .line {
            grid-column: unset;
            width: 100%;
        }
    
        .newsletter {
            grid-column: unset;
            text-align: center;
        }
    
        .newsletter input {
            width: 90%; 
            margin: 10px 0;
        }
    
        .newsletter button {
            width: 90%; 
        }
    
        .socialmedia-icons {
            margin-left: 0; 
            justify-content: center; 
            gap: 15px;
        }
    
        .support-us a,
        .explore a {
            margin: 10px 0;
            font-size: 0.9rem; 
        }
    
        .support-us p {
            font-size: 1rem;
        }
    
        .location,
        .hours,
        .copyright,
        .policies {
            font-size: 0.8rem; 
            text-align: left;
        }
    
        .hours, .policies {
            grid-column: unset;
            grid-row: unset;
            position: unset;
        }

    
        .copyright {
            flex-direction: row;
            gap: 10px; 
        }

        h6,h5{
            margin: 0;
            padding-top: 5px;
        }

        .visit-container{
            height: auto;
            margin: 50px 0px;
            padding: 10px;
         }
         
         .visit-box{
             width: 70%;
         }
         
         
         .detail{
             margin: 0px;
             font-size: 13px;
         }

         .visit-text{
            margin: 10px;
            font-size: 13px;

         }
        
    }
        
    




   
    
    
   



    


   