*{
    padding: 0px;
    margin: opx;
    box-sizing: border-box;
}

body {
    font-size: 16px; 
}

    
    .navbar{
         width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 20px;
        background-color:transparent;
         z-index: 1; 
        }
    
    .nav-links li{
       padding-left: 30px;
    }

     ul{
        display: flex;
        list-style: none;
    }

    .nav-links li a, .back-btn a{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        position: relative;
        text-align: center;
    }

    .nav-links li a:hover{
        text-decoration: underline;
        color: #2CBDC9;;
      }

    .menu-open, .menu-close{
        position: absolute;
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
        z-index: 101;
    }

    .menu-open{
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .menu-close{
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    #menu-checkbox{
        display: none;
    }
    
     .logo{
       width: 100px;
       padding-bottom: 30px;
    
    } 

    .navbar-line {
        border: none;
        border-bottom: 1px solid #fff; 
        position: absolute; 
        z-index: 2; 
        width: 100%;
        text-align: center;
        margin-top: 90px;
    }

    .contact-form {
       
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 10px;
        padding: 20px;
        max-width: 100%; 
        margin: 20px; 
        box-sizing: border-box; 
       
    }

    .contact-us-form input, textarea {
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding:10px 70px 20px 10px ;
        border-radius: 10px;
        margin: 5px 10px;
    } 
    .submit-btn {
         padding: 10px;
        background-color: #A0C8DE;
        border: 1.5px solid black;
        border-radius: 5px;
        box-shadow: inset;
        margin-left: 23px;
    }

    h2, h3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .contact-no{
        margin: 10px 80px;
    }

    .call-us{
        margin: 15px 0px;
    }

    .info{
        margin-top:8px ;
        margin-bottom: 4px;
    }

    .hero-section{
        position: relative;
        width: 100%;
        height: 40vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../images/explore-header.jpg');
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
    }
    
    .hero-section::before {
        content: ''; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: conic-gradient(from 180deg at 50% 50%, rgba(21, 11, 47, 0.61) 0deg, rgba(44, 23, 98, 0.61) 180deg, rgba(67, 35, 149, 0.61) 360deg);
        z-index: 0;
    }


    .contact-page header{
        background-image:url("/images/contact-header.jpg");
    }

    .events-page header, .exhibits-page header{
        background-image: url("/images/exhibit-event-header.jpg");
    }

    .join-page header{
        background-image: url("/images/join+give-header.jpeg");
    }

    .visit-page header{
        background-image: url("/images/visit-header.jpg");
    }


    
    .header-content{
       display: flex;
       flex-direction: column;
       gap: 10px;
        color: white;
        justify-content: flex-start;
        margin: 40px;
        z-index: 1; 
    }
    
    h1{
        font-size: 4vmin;
        text-align: center;
    }
    
    .hero-cta{
       
        display: flex;
       padding: 10px;
      z-index: 1;
       border-radius: 5px;
       position: absolute; 
       bottom: 20px; 
       right: 40px; 
        justify-content: center;
        align-items: center;
        background-color: #2CBDC9;
        color: black;
        
    }



    @media (min-width:480px) and (max-width:767px) {
      .nav-links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 50%;
        position: fixed;
        border-radius: 10px;
        top: 4%;
        right: -100%;
        z-index: 100;
        background-color: aquamarine;
        transition: all 0.2s ease-in-out;
      }



      .nav-links li{
        margin-top: 30px;
      }

      .nav-links li a{
        padding: 5px;
      }

    .menu-open {
        display: block;
    }

    #menu-checkbox:checked ~ .nav-links{
        right: 0;
    }
    
    #menu-checkbox:checked ~  .menu-close {
        display: block; 
    }
    
    #menu-checkbox:checked ~ .menu-open {
        display: none; 
    }
   



    }
    
        
    