* {
    margin: 0px;
    padding: 0px;
}

nav, #menu-checkbox {
    display: none;
}

header{
   position: fixed;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto; 
    align-items: center;
    padding: 0px 20px;
    background: linear-gradient(180deg, rgba(44, 23, 98, 0.61) 47.87%, rgba(67, 35, 149, 0.61) 65.37%, rgba(21, 11, 47, 0.61) 104.37%); 
} 

.logo-container{
    display: flex;
    justify-content: flex-start;
   align-items: center;
}

 .logo{
    margin-left: auto;
    height: 150px;
    width: 150px;
    padding-top: 10px;
} 

.hamburger-icon {
   font-size: 24px;
   cursor: pointer;
   justify-self: center;
   margin-top: 10px;
   margin-right: 20px;
   
}

nav {
    position: absolute;
    border-radius: 20px 0px 20px 20px;
    grid-column: 1 / 1;
    background: #FFF;
    box-shadow: 5px 5px 9.7px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 280px;
    margin-top: 320px;
}
    
#menu-checkbox:checked ~ nav {
display: block;
}

nav a{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    background: transparent;
    padding-left: 30px;
    padding-top: 15px;
    margin: 5px;
}

nav ul li{
    list-style: none;
}

.hero {
    position: relative;
    height: 300px; /* Full viewport height */
    background: url(explore-header.jgp) no-repeat center center/cover;
    margin-top: 60px; /* Ensure it starts below the fixed header */
    display: flex;
    justify-content: center;
    align-items: center;
}









